@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

body {
  margin: 0 auto;
}

.home {
  display: flex;
}

.home-nav {
  background: rgb(5, 118, 129);
  background: linear-gradient(
    90deg,
    rgba(5, 118, 129, 1) 0%,
    rgba(37, 218, 236, 1) 100%
  );
  margin: 0px;
  padding: 300px 100px;
  text-align: center;
  align-items: center;
}

.home-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.home-nav-list li {
  background-color: #ffffff;
  padding: 10px 30px;
  border-radius: 20px;
  margin: 20px 0;
  text-align: center;
  box-shadow: 7px 4px 20px 5px #282020;
}

.home-nav-list a {
  text-decoration: none;
  color: #24d6e8;
  font-weight: bold;
  font-size: 18px;
}

.home-nav h1 {
  font-weight: bold;
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.home-nav i {
  font-size: 30px;
  margin: 20px 0;
  color: white;
}

.home-nav-heading h1 {
  width: 100px;
  text-align: center;
  margin: 0;
}

.add-assign {
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid blue;
  box-shadow: 2px 2px 13px -4px black;
  border-radius: 20px;
  padding: 10px 20px;
  max-width: 50%;
  margin-top: 5%;
}

.daily {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.assignment-info {
  background-color: white;
  width: 550px;
  height: 470px;
  margin: 60px 280px 100px 280px;
  padding: 60px 90px;
  border: 5px solid #22d2e4;
  border-top-left-radius: 60px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 20px;
  box-shadow: 2px 2px 13px -4px black;
}

.assignment-info h2 {
  background-color: #ffffff;
  padding: 10px 10px;
  margin-top: 0;
  text-align: center;
  font-family: monospace;
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: bold;
  border-bottom: 3px solid black;
}

.assign-row {
  display: flex;
  margin-top: 20px;
}

.assignment-info p {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  width: 40%;
}

.assignment-info a {
  margin: 0 10px;
  font-size: 20px;
}

.assign-row span {
  margin: 0 20px;
  font-size: 20px;
}

.fa-times {
  color: red;
  font-size: 20px;
}

.fa-check {
  color: green;
  font-size: 20px;
}

.logged-intro {
  margin: 15% 16%;
  background: url("./backgrounds/note.jpg");
  border: 5px solid #22d2e4;
  box-shadow: 2px 2px 13px -4px black;
  text-align: center;
}

.intro-heading h1 {
  font-weight: bold;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid black;
  padding: 10px;
}

.logged-intro p {
  font-weight: bolder;
  margin: 50px 0;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
}
