.assign-create {
    background-color: white;
    width: 455px;
    height: 520px;
    margin: 320px 280px;
    padding: 60px 90px;
    border: 5px solid #55c259;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 2px 2px 13px -4px black;
  }
  
  .assign-create h2 {
    background-color: #ffffff;
    margin-top: 0;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    border-bottom: 2px solid black;
  }
  
  .assign-create-form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .assign-create-form label {
    font-weight: bold;
    font-family: monospace;
    margin-top: 10px;
    font-size: 20px;
  }
  
  .assign-create-form input {
    border: none;
    box-shadow: 1px 0px 9px 3px black;
    border-radius: 5px;
    border-color: gray;
    margin-top: 5px;
  }
  
  .assign-create-form input:focus{
    outline: none;
  }
  
  .assign-create-form select{
    border: none;
    box-shadow: 1px 0px 9px 3px black;
    border-radius: 5px;
    border-color: gray;
    margin-top: 5px;
  }
  
  .assign-create-form a{
    text-align: center;
    text-decoration: none;
    color: #55c259;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #55c259;
    box-shadow: 2px 2px 13px -4px black;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 25px;
    max-width: 50%;
    margin-left: 25%;
  }
  